<main class="main">
  <div class="inner">
    <div class="top">
      <h2>LET'S DO A CAPPELLA!</h2>
      <ul class="itemlist">
        <li class="item group">
          <h3>グループ</h3>
          <%= link_to "グループを探す", root_path, class: :top__btn %>
          <%= link_to "メンバーを募集する", root_path, class: :top__btn %>
        </li>
        <li class="item member">
          <h3>メンバー</h3>
          <%= link_to "メンバーを探す", root_path, class: :top__btn %>
          <%= link_to "参加希望を登録する", root_path, class: :top__btn %>
        </li>
      </ul>
    </div>
  </div>
</main>
