<main class="main">
  <div class="inner">
    <h2>条件を絞り込む</h2>
    <%= render partial: "shared/search_form", locals: { url: search_groups_path } %>
    <h1>グループ一覧</h1>
    <div class="card_wrapper">
      <%= render partial: "group", collection: @groups %>
    </div>
  </div>
</main>