<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">参加希望登録編集</h2>
        <%= render partial: "form", locals: { member: @member } %>
    </div>
  </div>
</div>