<main class="main">
  <div class="inner">
    <h2>条件を絞り込む</h2>
    <%= render partial: "shared/search_form", locals: { url: search_members_path } %>
    <h1>検索一覧</h1>
    <div class="card_wrapper">
      <%= render partial: "member", collection: @members %>
    </div>
  </div>
</main>